body{
  background-color: #121212 !important;
  color: white !important;
  margin: auto !important;
  position: relative;
}

input{
  margin-bottom: .3em !important;
}

h3{
  margin-top: -10px !important;
}

#SongListModal{
  margin-left: -40px !important;
  text-align: left !important;
}

.card{
  width: 50%;
  min-width: 400px;
  margin: 2em;
  padding: 20px;
  color: #E1E1E1;
  background-color: #1d1d1d;
  border-radius: 10px;
}

.add{
  color: #000000;
  background-color: #04DAC5;
}

.remove{
  color: #E1E1E1;
  background-color: rgb(129, 21, 41);
}

.ui.button{
  margin-top:10px !important;
}

.boton{
  padding: 1em;
  border-radius: 10px;
}

.esconde{
  display: none;
}

.ui.modal{
  color: #1d1d1d;
}

.ui.segment{
margin-bottom: 10px !important;
}
/* 
#PlayHover:hover{
  content:'▶';
} */

.StickyFooter{
  width: 100%;
  background-color:rgba(46, 38, 36, 0.5);
  min-height: 3rem;
  padding: 10px;
  position: fixed;
  bottom: 0;
}
.StickyFooterContent{
margin: auto;
text-align: center;
}