:root{
  --DarkTone:#121212;
  --GrayTone:#1d1d1d;
  --WhiteTone: #E1E1E1;
  --BrightTones: linear-gradient(45deg, #A300FF, #00FFD7);
  --RoundIt:10px;
  --Spacer:2em;
  --Sombra:0px 0px 5px #000;
}

body{
  background-color:var(--DarkTone) !important;
  color: white !important;
  margin: auto !important;
  position: relative;
}
input{
  margin-bottom: .3em !important;
}
.pushLeft{
  margin-left: -20px !important;
}
h3{
  margin-top: var(--Spacer) !important;
}
#SongListModal{
  margin-left: -40px !important;
  text-align: left !important;
}
.card{
  width: 50%;
  min-width: 400px;
  margin: var(--Spacer);
  padding: 20px;
  color: var(--WhiteTone);
  background-color: var(--GrayTone);
  border-radius: var(--RoundIt);
}

.SongCard{
  width: 90%;
  padding: 10px;
  background-color:var(--WhiteTone);
  border-radius: var(--RoundIt);
}

.ui.button{
  margin-top:10px !important;
}

.esconde{
  display: none;
}

.ui.modal{
  color: #1d1d1d;
}

.ui.segment{
margin-bottom: 10px !important;
}
/* 
#PlayHover:hover{
  content:'▶';
} */

.StickyFooter{
  width: 100%;
  background-color:rgba(46, 38, 36, 0.5);
  margin-top: var(--Spacer);
  min-height: var(--Spacer);
  padding: 10px;
  position: fixed;
  bottom: 0;
}
.StickyFooterContent{
margin: auto;
text-align: center;
}

#promoteSection{
  width: 100%;
  min-height: 550px;
  margin: auto;
  background: var(--BrightTones);
}
.promoteContentWrap{
  padding-top: 2em;
  display: block;
  margin: auto;
  color: white!important;
  text-align: center;
  text-transform: uppercase !important;
  letter-spacing: 2px;
}
.mbMinus{
  margin-top: -15px !important;
}
.stores {
  margin-top: 10px !important;
  margin: auto;
}
.icons{
width: 45px;
padding: 5px;
}
.sombra{
  text-shadow: var(--Sombra) !important;
}

.sombraCaja{
  box-shadow: var(--Sombra);
}

.last{
  margin-bottom: 6em !important;
}

table.LabelTable{
  font-size: 10px !important;
}